:root {
  --main-color: #4477CE;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card.card-custom {
  border-radius: 1.25rem;
	flex-basis: 20rem;
  flex-grow: 1;
  margin: 0.5rem;
  max-width: calc(28% - 1rem);
}

.card-header.card-header-custom {
  background: var(--main-color);
  padding: 10px;
  position: relative;
	color: white;
}

.card-header .document-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #7e9bcc;
  border-radius: 10px;
  padding: 2px 5px;
  color: white;
}

.card-body {
  padding: 10px;
  background: var(--main-color);
	color: white;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.card-text {
  font-size: 0.9em;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  margin-left: auto;
}

.badge-custom {
  background-color: var(--main-color);
  color: #ffffff;
}

@media (max-width: 768px) {
  .card-custom {
    max-width: calc(33.333% - 1rem);
  }
}

@media (max-width: 480px) {
  .card-custom {
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 300px) {
  .card-custom {
    max-width: 100%;
  }
}
